<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-lg">
		<a class="navbar-brand" href="/">Node Is Fun</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/form">Form</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/getData">GetData</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/stepForm">New Form</a>
			</li>
		</ul>
	</div>
</nav>