<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<h1>Hello Rashesh</h1>
		<header><%- include('../partials/header'); %></header>
		<main>
			<div class="jumbotron">
				<h1>This is great</h1>
				<p>Hii Iam learning EJS with express</p>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
