<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<%- include('../partials/header'); %>

		<main>
			<div class="jumbotron">
				<div class="container-lg">
					<h1>Hello Rashesh</h1>
					<h2>This is great</h2>
					<p>This is User Data</p>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
</body>

</html>