<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<%- include('../partials/header'); %>
		<main>
			<div class="jumbotron">
				<div class="container-lg">
					<h1>Hello Rashesh</h1>
					<div class="insert">
						<form action="/getData" method="post">
							<label for="select" class="form-lable">Query : </label>

							<input type="text" name="select" id="query" class="form-control" value="" />

							<input type="submit" value="Submit" class="btn-primary" />
						</form>
						<!--  -->
						<%- include('../partials/grid'); %>

					</div>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
</body>

</html>