<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<%- include('../partials/header'); %>

		<main>
			<div class="jumbotron">
				<div class="container-lg">
					<h1>Hello Rashesh</h1>
					<div class="insert">
						<table border="0" cellpadding="5">
							<% fields.forEach((field)=>{ %>
								<th>
									<%= field %>
								</th>
								<% }); %>
						</table>
					</div>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
</body>

</html>