h3,h4{
    text-align: center;
}
.result{
    width: 100%;

}

.exam{
    text-align: center;
}

#errImg{
    display: flex;
    margin: auto;
}

.output{
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    justify-content: center;
}

.morelnk{
    color: rgba(0, 140, 255, 0.884);
    
}
.morelnk :hover{
    color: rgba(0, 58, 105, 0.884);
    font-style: italic;
    cursor: pointer;

}