.cust-container {
    margin: auto;
    max-width: 700px;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0px 0 50px rgb(221, 221, 221);
}

.heading {
    text-align: center;
    border-radius: 10px;
}

.reqErr,
.reqErrp {
    color: red;
}

.sec {
    padding: 2rem;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0px 0 50px rgb(221, 221, 221);
}

/* body {

    background: url(../images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 900px;
}

.cust-container {
    margin: auto;
    max-width: 700px;
    margin-top: 3rem;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    box-shadow: 0px 0 10px rgba(231, 231, 231, 0.461);

    backdrop-filter: blur(8px);

}

.heading {
    text-align: center;
    border-radius: 10px;
}

.reqErr,
.reqErrp {
    color: red;
}

.sec {
    padding: 2rem;
    margin-top: 1rem;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    box-shadow: 0px 0 50px rgba(221, 221, 221, 0);
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.err {
    color: aliceblue;
    background-color: rgb(255, 41, 69);
}

.form-label {
    color: aliceblue !important;
    font-size: 20px;
}

.form-control {
    background-color: rgba(240, 248, 255, 0) !important;
} */