<% var heading = heading || null; %>
<!--  -->
<% if(heading) {%> <%- //include("./pagination",{query:query}); -%>
<table border="1" cellpadding="5" class="pt-4">
	<tr>
		<% heading.forEach((head)=>{ %>
		<th><%= head %></th>
		<% }); %>
	</tr>
	<% for( let i=0; i < data.length ; i++) { %>
	<tr>
		<% let val = Object.values(data[i]); %> <% val.forEach((value)=>{ %>
		<td><%= value %></td>
		<% }); %>
	</tr>
	<% } %>
</table>
<% } %>
